<div class="user">
    <div class="card">
        <div class="header">User</div>
        <div class="container body" *ngIf="myProfileObs$ | async as myProfile">
            <!-- <div *ngFor="let newsItem of news" style="margin-bottom: 10px">
                <div class="row newsTitle">
                    <div fxFlex="80%" class="column">
                        {{ newsItem.Title }}
                    </div>
                    <div fxFlex="20%" class="column">
                        {{ newsItem.Date }}
                    </div>
                </div>
                <ng-container *ngFor="let line of newsItem.Lines">
                    <div class="row newsText">
                        {{ line }}
                    </div>
                </ng-container>
            </div> -->
            Name: {{ myProfile.display_name }}
            <br/>
            Country: {{ myProfile.country }}
        </div>
    </div>
</div>
