<div class="container home" style="background-color: lightgray; margin: 5px;">
    <div class="row">
        <div fxFlex="33%" fxLayout="column">
            <p><app-home-user></app-home-user></p>
            <!-- <p><app-home-highlights></app-home-highlights></p> -->
        </div>

        <div fxFlex="100%" fxLayout="column">
            <div fxLayout="row" class="row">
                <!-- <p style="width: 50%"><app-home-instructors></app-home-instructors></p> -->
                <!-- <p style="width: 50%"><app-home-classes></app-home-classes></p> -->
            </div>
            <div fxLayout="row" class="row">
                <!-- <p style="width: 100%"><app-home-view-by-day></app-home-view-by-day></p> -->
            </div>
        </div>
    </div>
</div>
